.container{flex-direction: column;
    width: 100%;
    background-color: silver;
}

.blue{ background-color: #101042;}
.violet{ background-color: #6a4eda;
}
.flex{display: flex}
.down_button:hover, .up_button:hover, .button_head2:hover, .button_head_menu:hover,
.right_line:hover, .left_line:hover, .arrow:hover, .mini_square:hover,
.line:hover{
    background-color: blue;
    cursor: pointer;
}
.button_head_menu{
    width: 150px;
    height: 40px;
    margin: 20px 0 20px -20px;
    border-radius: 15px;
}
.up_button{
    width: 50px;
    height: 5px;
    margin: 5px;
}
.down_button{
    width: 80px;
    height: 5px;
    margin: 5px;
}
.up_down{
    flex-direction: column;
    width: 40%;
    align-items: flex-end;
    justify-content: space-around;
}
.head_menu{
    justify-content: space-around;

}
.header{
    flex-direction: column;
    width: 100%;
}
.button_head2{
    width: 150px;
    height: 50px;
    border-radius: 35px;
    margin: 20px 0 40px 10%;
}
.header>h1, .header>p{
    color:#6a4eda ;
    margin: 20px 50% 20px 10%;
}
.body_top{
justify-content: space-evenly;
}
.body_left{
    flex-direction: column;
    width: 40%;
}
.left_square{
width: 90%;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
}
.arrow{
    width: 50px;
    height: 50px;
}
img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.mini_square{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
}
.top_menu{
    margin-left: 20px;
}
.body_right{ width: 40%;
    flex-direction: column;
}


.right_square{
    width:135px;
    height: 135px;
    margin-top: 20px;
    border-radius: 20px;
}
.h4_p{
    flex-direction: column;
    width: 60%;
    margin-left: 20px;
}
.body_left>h2{
    margin-left: 20px;
}
.right_lines{
    justify-content: space-between;
}
.left_line, .right_line{
    height: 5px;
}
.left_line{
    width: 25px;
}
.right_line{
    width: 15px;
}
. line_down{width: 70px}
.right_line, .left_line{margin: 5px;
}
.center{
   width: 100%;
    height: 660px;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    justify-content: space-evenly;
    align-content: space-between;
}
.center_square1{
    width: 55%;
    height: 300px;

}
.center_square2{
    width: 25%;
    height: 300px;

}
h3{
text-align: center}
h3, h4, p, h2{
    color:#101042;
}
.body_footer{
    width: 100%;
    margin: 20px;
    justify-content: space-around;
}
.circle_block{
    flex-direction: column;
    width: 25%;
    align-items: center;
}
.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.footer{
    margin: 20px;
    justify-content: space-around;
}
.line{
    width: 40px;
    height: 7px;
    border-radius: 20px;
    margin: 5px;
}
.blocks_line, .h_h_footer{
    flex-direction: column;

}
.blocks_line{
    justify-content: space-between;
}
.footer_line{
    margin-left: 20px;
}
.h_h_footer{
    width: 20%;
    line-height: 3px;
    text-align: center;
}
.h_h_footer>h3, .h_h_footer>p{
    color:#6a4eda ;
}


@media (max-width: 1000px){

    .circle_block{
        width: 30%;
    }
    .circle{
        width: 180px;
        height: 180px;
    }
    .body_footer, .center{
        margin: 0;
    }
}
@media (max-width: 650px){
    body{
        margin: 0;
    }
    .up_menu{
        flex-direction: column;
    }
    .down_button{
        display: none;
    }
    .container{
        align-items: center;

    }
    .head_menu{align-items: center}
    .header{
        align-items: center;
        text-align: center;
    }
    .header>h1, .header>p{
        margin: 0;
    }
    .button_head2{
        margin: 20px;
    }
    .body_top{width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .body_left{
        width: 90%;
        align-items: center;
    }
    .top_menu{
        margin: 0;
    }
    .arrow{
        width: 40px;
        height: 40px;
    }
    img{
        width: 30px;
        height: 30px;
    }
    .mini_square{
        margin: 0 2px;
    }
    .h4_p>p{
        display: none;
    }
    .body_right{
        width: 100%;
        align-items: center;
    }
    .right_block{
        width: 90%;
    }
    .circle_block{
        width: 30%;
    }
    .circle{
        width: 100px;
        height: 100px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .top_menu{
        justify-content: center;
    }
    .footer_line{
        margin-left: 0;
    }
    .h_h_footer>p{
        display: none;
    }

}