.container, .related, .center, .related {
    width: 500px;
}
.header, .footer{
    width: 494px;
    height: 50px;
}
.header{
    background-color: deepskyblue;
}
.footer{
    background-color: orange;
}

.hero{
    background-color: rgba(227, 122, 172, 0.98);
    height: 40%;
}
.sidebar{
height: 60%;
    background-color: #436943;
}
.center_left, .center_right{
    height: 500px   ;
    flex-direction: column;
}
.center_left{
    width: 200px;
}
.center_right{
    width: 300px;
}


.main{background-color: #f3e508;
    height: 70%;
}
.extra{
    height: 30%;
    background-color: rgba(107, 57, 57, 0.85);
}
.img{
    background-color: #057905;
    width: 60%;
    height: 100px;

}
.post{
    background-color: hotpink;
    width: 40%;
    height: 100px;
}
.fleks{
    display: flex;
}
.text{color: white;
text-align: center;
margin: 3px}