
.a_b_c{display: flex;
    justify-content: center;
    border: #313030 4px solid;
    border-radius: 2%;
    width: 806px;
    height: 606px;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}


.a{
    background-color: silver;
   width: 806px;
    height: 206px;
    margin-bottom: 6px;
}
.b, .c {
    /*margin-top: 3px;*/
    height: 400px;
background-color: silver}

.b_c{display: flex;
    width: 806px;
    height: 406px;
    ;
}
.b{
    width: 600px;
    margin-right: 6px;
}
.c{
    width: 200px;
}