.flex{display: flex}
.a_b_c{
justify-content: center;
    border: #313030 4px solid;
    border-radius: 2%;
    height: 606px;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}
.a{
    background-color: silver;
    height: 206px;
    margin-bottom: 6px;
}
.b, .c {
    height: 400px;
background-color: silver}

.b_c{height: 406px;
}
.b{
    width: 600px;
    margin-right: 6px;
}
.c{
    width: 200px;
}
.a_b_c, .a, .b_c{
    width: 806px;
}