.header, .nav, .footer, .main_as{
    width: 700px;
}
.flex{
    display: flex;
}
.header{
    background-color: #2378c9;
    height: 150px;
    border-bottom: 4px #55c5ee solid;
}
.nav{
    background-color: #03236b;
}
.main_as, .main, .aside{
    height: 500px;
}
.nav, .footer{
    height: 100px;
}
.main{
width: 500px;
    border-right: #6bcffa 4px solid;
    background-color: #18c9d9;
}
.aside{
    background-color: #3222ef;
    width: 200px;
}
.footer{
    background-color: skyblue;
}
.header, .nav, .footer,.aside, .footer, .main{
    color: white;
    justify-content: center;
    align-items: center;
}