.h1{
    display: flex;
    justify-content: center;

    color: blue;
}
.h_border{display: flex;
    justify-content: center;
    border: skyblue 1px solid ;
border-radius: 60%;
    background-color: skyblue;
    width: 65%;
}
.h_border2{display: flex;
    justify-content: center;
    border: darkturquoise 1px solid ;
    border-radius: 60%;
    background-color: darkturquoise;
    width: 65%;
margin: 0 25% ;
;
}
p{width: 75%;

    background-color: plum;
    color: darkviolet;
    text-align: justify;
}
.allPony{
    display: flex;
justify-content: center;
   height: 500px;
}
h2{
    background-color: darkturquoise;
    color: #08082d;
    text-align: center;
}
li{
   list-style: none;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
#desh{
    border: #057ca1 5px solid;

}
#apple{
    border: orangered 5px solid;
}
#flater{
    border: yellow 5px solid;
}
#pinky{
    border: deeppink 5px solid;
}
#twilet{
    border: #330080 5px solid;
}
#rerity{
    border: blue 5px solid;
}
