@media screen and (max-width: 830px) and (min-width: 540px){
   li.ikons_right{
        width: 90px;
        height: 25px;
    }

ul.ikons{
    justify-content: space-between;
}
.border>.flex{
    flex-wrap: wrap;
    justify-content: space-around;
}
.circle_box{
    flex-wrap: wrap;
}
.body_box{
    width: 45%;
    height: 300px;
    margin: 5px;
}
.h3_p>p{
    display: none;
}
.h3_p>h3{
    margin: 0;
}
.body_icons>.icons_one, .body_icons>.icons_two, .body_icons>.icons_one2{
    margin: 5px;
}
.right>.right_text, .left>.left_text{margin: 15px}
}
@media (max-width:540px){

    .header_left{
        width: 75px;
    }

    .ikons_right2{
        width: 30px;
    }


/*.h1:hover{*/
/*    cursor: pointer;*/
/*    background-color: blue;*/

/*}*/
.header_menu>p{
    display: none;
}
.border>.flex{
    flex-direction: column;
    justify-content: center;
}
.circle_h3:nth-child(odd){
    display: none;
}
.h3_p>p{
    display: none;
}
.body_icons{
    align-items: center;
    align-content: center;
    margin: 0;
}
.body_box{
    width: 45%;
    height: 275px;
}
.icons_two{
    display: none;
}
.left_text>p{
    display: none;
}
.right_text>p{
    display: none;
}
}
