.body{padding: 5px;
    width: 600px;
    border: #4d4c4c 5px solid;
    border-radius: 10px;
}
.a{width: 600px;
    height: 150px;


}
.down{display: flex;

}
.down_left{
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;

}
.gray{
    background-color: gray;
}

.c, .d, .e, .b, .f, .g{
    width: 150px;
    height: 150px;
}
.e_f_g, .b_c_d {width: 450px;
    height: 150px;
    display: flex;
}


.a, .b, .d, .c, .g, .e, .f, .h{display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.h{
    width: 150px;
    height: 305px;
}
.a, .b, .d, .c, .g, .e, .f{
    margin-right: 5px;
}
.a, .b_c_d, .down_left{
  margin-bottom: 5px;
}