.body
{height: 1000px;
flex-direction: column}
.flex{
    display: flex;
}
.home, .about{
    width: 225px;
    height: 400px;
}
.home, .about, .kabobs{background-color: #075bbb
}
.widht450{
    width: 450px;
}
.kabobs{
    height: 200px;
    margin:10px;
}
.shish, .bbq, .summer{
    background-color: blue;
    width: 150px;
}
.footer{
    justify-content: space-around;
    width: 450px;
    height: 200px;
}
.home, .about, .shish, .bbq, .summer, .kabobs{
    margin: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}
